language: scala
scala:
- 2.11.12
- 2.12.6
jdk:
- oraclejdk8
env:
  global:
  - secure: zlCxTRtETfHexDUc18do/tIj3mBvEtwd7pCCPqOy+JgiY4X16XUJgdpg87w9tm1rKGTYXSnDye7xKvImKySLAI0FXY3IMPA1pOPvG79XH42Q2VXaoXf8Qu2HNbQNLmKTasz01C5Ogs98BYq6Rp4xV0vXStiEMj0wfIRXqCfskFg=
  - secure: InL3dTk1RWpb3AhbhJD7bUIgziCfM/N5KBJVbC46rv+EDa6nUXlKpL1ryMXI41uVoFBZHZ6AvcThKkhxjstG13kwRHDqat5oKqmR8iOoKV6U+QZhJpvYDuRhExEeHCyMiH9S7+Q9YYLd6YDhbA9yzpN3hpOcm7C0I+rGMy+b7EE=
  - secure: mi3LGPt6UL3p1ze4x8WnbEnGY0aYmwEbEZi1EL3f8+IltBErY6C+9eU/vezkhmmTb1+BpKwJMGoQm/gaMWIct3c5wT33BqnUy689kfT1aFYy3s19V3a3WJQ0XhwY6sj1+8I6+FeQuBqtH9VFuCc2FPMWUTx7T9FFPXyNobpyGn4=
  - SONA_USER=snowplow
  - secure: L7GOi+ZrnZww7uig8IJ0kFVuB3aRoXG6aQ04IdngWsarrZiZV7nL9UeRbOeCP2xv+Ni6nT9NrYr8ziGCD29181Jlt6DFQIKZQYXABYoNqypa+7icMb+zGwBQNKwc+uEHWKnVZpWzPvCkT2tMe1ovyGvyXOeupRLg7c+c+Ew84I0=
  - secure: hn8ACjETG7dJNU6sTpIXUN6AntT5p9ht1c4Bvccig+jF9riIyfX1pldVKCfqcSzmLsnfBZTVh5HoSApMq3uCuF6QrKP7oeg2cFnNBlNaOoIIwQlezgBhjTSv+UlCZ3wotrSWaqI6+DKDX4acNErt+BoXa+tt7BzY5mwNX9eQC1c=
script:
- sbt coverage test coverageReport
deploy:
  skip_cleanup: true
  provider: script
  script: "./.travis/deploy.sh $TRAVIS_TAG"
  on:
    condition: '"${TRAVIS_SCALA_VERSION}" == "2.12.6"'
    tags: true
after_success:
- bash <(curl -s https://codecov.io/bash)
